* {
  box-sizing: border-box;
  margin: ;
}
img {
  border-radius: 3rem;
}
h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sub-section {
  color: grey;
}

button {
  color: rgb(16, 151, 235);
  border: none;
  background-color: white;
  padding: 0;
}

.card {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  margin: 20px;
}

body {
  background-color: rgb(235, 234, 233);
}
